.ctg_1  {background-color: #FFFFD8;} /* NEWS */
.ctg_2  {background-color: #D8FFFF;} /* SPORTS */
.ctg_3  {background-color: #F2D8FF;} /* INFORMATION */
.ctg_4  {background-color: #D8FFD8;} /* DRAMA */
.ctg_5  {background-color: #D8D8FF;} /* MUSIC */
.ctg_6  {background-color: #FFD2EB;} /* VARIETY */
.ctg_7  {background-color: #FFD8D8;} /* CINEMA */
.ctg_8  {background-color: #FFE4C8;} /* ANIME */
.ctg_9  {background-color: #FFFFFF;} /* DOCUMENTARY */
.ctg_10 {background-color: #FFFFFF;} /* STAGE */
.ctg_11 {background-color: #FFFFFF;} /* HOBBY */
.ctg_12 {background-color: #FFFFFF;} /* WELFARE */
.ctg_13 {background-color: #FFFFFF;} /* RESERVE1 */
.ctg_14 {background-color: #FFFFFF;} /* RESERVE2 */
.ctg_15 {background-color: #FFFFFF;} /* EXPAND */
.ctg_16 {background-color: #FFFFFF;} /* ETC */

