.station {
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    display:table-cell;
    margin:0;
    padding:0;
}

.station_name{
    display:table-cell;
    width: 140px;
    max-width: 140px;
    min-width: 140px;
    height: 30px;
    line-height: 30px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    background: #FFA07A;
    white-space: nowrap;
    overflow: hidden;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-right:2px solid #CCC;
    word-wrap: break-word;
    margin:0;
    padding:0;
    text-decoration: none;
}

.tv_program {
    width: 140px
    min-width: 140px;
    overflow: hidden;
    solid #FE2E2E;
    background: #fdfdfd;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    padding: 4px;
    border-top:2px solid #CCC;
    border-right:2px solid #CCC;
    max-width: 140px;
    margin:0;
    padding:0;
}

.time {
    width:2em;
    height: 180px;
    background: #4c4c4c;
    color: white;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-top:2px solid #CCC;
    border-right:2px solid #CCC;
    margin:0;
    padding:0;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    margin-left: 32px;
}

