.log-card
    max-width: 840px;
    min-height: 40px;
    margin-left : auto;
    margin-right : auto;

.log-card-title
    font-weight: bold;
    margin-bottom: 8px;

.log-card-messeage
    font-weight: normal;

.log-card-checkbox
    width: auto;
    margin-left: 6px;

.log-card-checkbox.mdl-checkbox.is-upgraded
    padding-left: 18px;

.log-card-level1
    background: #ffeb3b;

.log-card-level2
    background: #f44336;

    .mdl-card__supporting-text > *
        color: white;

.log-card-level3
    background: #3f51b5;

    .mdl-card__supporting-text > *
        color: white;

