.recorded-list-program.mdl-card
    min-height: 92px;
    max-height: 92px;

.list-container
    width: auto;

.recorded-list-picture
    position: relative;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

.recorded-list-picture-container
    height: 92px;
    width: calc(28%);
    text-align: left;
    float: left;
    clear: both;
    overflow: hidden;
    margin-right: 6px;

.recorded-list-text-container
    padding: 6px;
    height: 92px;

#grid-container
    margin: 0px auto;

.recorded-grid-program.mdl-card
    max-width: 300px;
    min-width: 300px;
    min-height: 92px;
    margin: 4px;
    float: left;

.recorded-grid-program-picture
    width: 100%;
    height: 56%;
    width: 300px;
    height: 168px;

.recorded-grid-text-container
    padding: 12px;
    height: 76px;

.recorded-program-title, .recorded-program-info, .recorded-program-description
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

.recorded-program-title
    font-size: 12px;
    font-weight: bold;

.recorded-program-title-card
    padding-right: 18px;

.recorded-program-info
    font-size: 12px;
    font-weight: normal;

.recorded-program-description
    font-size: 12px;
    font-weight: bold;

