.scroll_top_button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color:rgba(0,0,0,0.45);
    color: white;
    text-align: center;
    font-size: 26px;
    border-radius: 50%;
    position: fixed;
    right: 32px;
    bottom: 52px;
    z-index: 100;
}

